<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!uuid">Add Sales Invoice</ion-title>
    <ion-title *ngIf="uuid">Update Sales Invoice</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="print()">
        <ion-icon slot="icon-only" name="print-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <form [formGroup]="addSalesInvoiceForm">
      <ion-card-header>
        <ion-row class="align">
          <ion-col>
            <ion-card-title>
              <ion-text color="tertiary"> Details </ion-text>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-text> {{title}} </ion-text>
            </ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-right" size="auto">
            <ion-button
              color="tertiary"
              fill="outline"
              (click)="sync()"
              *ngIf="docstatus === 1 && isSynced === 0"
            >
              Sync
            </ion-button>
            <ion-button
              color="tertiary"
              fill="outline"
              (click)="updateInvoice()"
              *ngIf="!docstatus"
            >
              Update
            </ion-button>
            <ion-button
              color="tertiary"
              (click)="submitInvoice()"
              *ngIf="!docstatus"
            >
              Submit
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <mat-form-field class="full-width">
                <input
                  matInput
                  required
                  placeholder="Company"
                  type="text"
                  formControlName="company"
                  [matAutocomplete]="company"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #company="matAutocomplete"
                >
                  <mat-option
                    *ngFor="let option of filteredCompany | async"
                    [value]="option.company_name"
                  >
                    {{option.company_name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="full-width">
                <input
                  required
                  type="text"
                  placeholder="Select Customer"
                  matInput
                  formControlName="customer"
                />
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="align">
            <ion-col>
              <mat-form-field class="full-width">
                <input
                  required
                  matInput
                  [matDatepicker]="postingDate"
                  placeholder="Posting Date"
                  readonly
                  formControlName="postingDate"
                />
                <mat-datepicker-toggle matSuffix [for]="postingDate">
                </mat-datepicker-toggle>
                <mat-datepicker #postingDate disabled="false"></mat-datepicker>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="full-width">
                <mat-label>Remarks</mat-label>
                <textarea matInput formControlName="remarks"></textarea>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </form>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row class="align">
        <ion-col>
          <ion-card-title>
            <ion-text color="tertiary"> Items </ion-text>
          </ion-card-title>
        </ion-col>
        <ion-col class="ion-text-right" size="auto">
          <ion-button
            color="tertiary"
            fill="outline"
            matTooltip=" ( ctrl + i ) "
            matTooltipPosition="above"
            matTooltipClass="tooltip"
            *ngIf="docstatus === 0"
            (ctrlI)="addItem()"
            (click)="addItem()"
          >
            Add
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none">
        <table mat-table #table [dataSource]="dataSource" style="width: 100%">
          <ng-container matColumnDef="item">
            <th th mat-header-cell *matHeaderCellDef>Item</th>
            <td
              mat-cell
              *matCellDef="let row;let i = index"
              [satPopoverAnchor]="p"
              (click)="p.open()"
            >
              <ng-container *ngIf="row.item_name">
                {{row.item_name}}
              </ng-container>
              <span class="add-comment" *ngIf="!row.item_name">
                Add an item
              </span>
              <sat-popover
                #p
                [hasBackdrop]="true"
                xAlign="start"
                yAlign="start"
                (closed)="updateField(row,i,$event)"
              >
                <inline-edit
                  [value]="row.item_name"
                  column="item"
                ></inline-edit>
              </sat-popover>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td
              mat-cell
              *matCellDef="let row;let i = index"
              [satPopoverAnchor]="p"
              (click)="p.open()"
            >
              <ng-container> {{row.quantity}} </ng-container>
              <sat-popover
                #p
                [hasBackdrop]="true"
                xAlign="start"
                yAlign="start"
                (closed)="updateField(row, i, $event)"
              >
                <inline-edit
                  [value]="row.quantity"
                  column="quantity"
                ></inline-edit>
              </sat-popover>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef>Rate</th>
            <td
              mat-cell
              *matCellDef="let row;let i = index"
              [satPopoverAnchor]="p"
              (click)="p.open()"
            >
              <ng-container> {{row.rate}} </ng-container>
              <sat-popover
                #p
                [hasBackdrop]="true"
                xAlign="start"
                yAlign="start"
                (closed)="updateField(row, i, $event)"
              >
                <inline-edit [value]="row.rate" column="rate"></inline-edit>
              </sat-popover>
            </td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let row">{{row.rate * row.quantity}}</td>
            <td mat-footer-cell *matFooterCellDef>{{f.total.value}}</td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row ; let i = index">
              <ion-button
                (click)="deleteRow(i)"
                fill="clear"
                class="ion-no-padding"
                color="danger"
                [disabled]="docstatus !== 0"
              >
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr
            mat-footer-row
            class="footer"
            *matFooterRowDef="displayedColumns; sticky: true"
          ></tr>
        </table>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
