<ion-header>
  <ion-toolbar>
    <ion-title>Sales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="padding-bottom: 0">
      <ion-row class="align">
        <ion-col>
          <ion-card-title>
            <ion-text color="tertiary"> Sales Invoices </ion-text>
          </ion-card-title>
        </ion-col>
        <input
          #FileSelectInputDialog
          type="file"
          accept=".pdf,image/*"
          multiple
          hidden
        />
        <ion-col class="ion-text-right">
          <ion-button color="tertiary" (click)="openAddPdfDialog()">
            Upload
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <table mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row;let i = index">
            <a [routerLink]="['/sales/update-sales-invoice',row.name]">
              <ng-container *ngIf="row.erpnext_name">
                {{row.erpnext_name}}
              </ng-container>
              <ng-container *ngIf="!row.erpnext_name">
                {{row.name}}
              </ng-container>
            </a>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let row;let i = index">
            <span *ngIf="row.docstatus" class="submitted"> Submitted </span>
            <span *ngIf="!row.docstatus" class="draft"> Draft </span>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="company">
          <th th mat-header-cell *matHeaderCellDef>Company</th>
          <td mat-cell *matCellDef="let row;let i = index">
            <ng-container> {{row.company}} </ng-container>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="customer">
          <th th mat-header-cell *matHeaderCellDef>Customer</th>
          <td mat-cell *matCellDef="let row;let i = index">
            <ng-container> {{row.customer}} </ng-container>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
      </table>
      <mat-paginator
        #paginator
        class="mat-paginator-sticky"
        (page)="getUpdate($event)"
        [length]="dataSource.length"
        [pageSizeOptions]="[30, 50, 100, 500]"
      >
      </mat-paginator>
    </ion-card-content>
  </ion-card>
</ion-content>
