<form (ngSubmit)="onSubmit()">
  <div class="mat-subheading-2" class="ion-text-capitalize">{{ column }}</div>
  <mat-form-field *ngIf="column === 'item'">
    <input
    matInput
      type="text"
      placeholder="Select Item"
      [formControl]="item"
    />
  </mat-form-field>

  <mat-form-field *ngIf="column === 'quantity'">
    <input
      matInput
      type="number"
      maxLength="140"
      name="quantity"
      [formControl]="quantity"
    />
  </mat-form-field>

  <mat-form-field *ngIf="column === 'rate'">
    <input
      matInput
      type="number"
      maxLength="140"
      name="rate"
      [formControl]="rate"
    />
  </mat-form-field>

  <div class="actions">
    <button mat-button type="button" color="primary" (click)="onCancel()">
      CANCEL
    </button>
    <button mat-button type="submit" color="primary">SAVE</button>
  </div>
</form>
