<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loggedIn">
  <ion-card class="welcome-card">
    <ion-item *ngIf="picture">
      <ion-avatar>
        <img src="{{ picture }}" alt="" />
      </ion-avatar>
    </ion-item>
    <ion-card-header>
      <ion-card-title>{{ name }}</ion-card-title>
      <ion-card-subtitle>{{ email }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Access Token : {{ accessToken }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>SALES</h2>
          <div style="display: block">
            <canvas
              baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="chartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins"
            >
            </canvas>
          </div>
        </ion-col>
        <ion-col>
          <h2>EXPENSES</h2>
          <div style="display: block">
            <canvas
              baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
            >
            </canvas>
          </div>
        </ion-col>
        <ion-col>
          <h2>PROFIT AND LOSS</h2>
          <div style="display: block">
            <canvas
              baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="chartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType"
            >
            </canvas>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<ion-content *ngIf="!loggedIn" class="card">
  <ion-grid style="height: 100%">
    <ion-row
      class="ion-justify-content-center ion-align-items-center"
      style="height: 100%"
    >
      <ion-icon name="log-in"></ion-icon>&nbsp;Please Login to continue
    </ion-row>
  </ion-grid>
</ion-content>
